<div class="container">
	<div class="row d-none d-sm-none d-md-block d-lg-block">
		<img class="img-fluid jumbo " src="assets/img/jumbo/tours-jumbotron.jpg" alt="">
 	</div>
 	<div class="row m-3 m-sm-4 m-md-4 m-lg-5">
		<div class="col-lg-12 border-0 p-0">
	 		<div class="card border-0">
			  <div class="card-body main">
			    <blockquote class="blockquote mb-0 text-center">
			    <h1>CCATÁN Tours</h1>
			      <p>
					Ccatán is ideally located in the center of the Sacred Valley.
					Let us know what kind of adventure you are looking for and
					we will help make it happen.
					</p>
			    </blockquote>
			  </div>
			</div>
	 	</div>
 	</div>
	 	<div class="row d-none d-sm-block d-md-block d-lg-block mb-5">
				<div class="col-12 text-center ">
						<img class="img-fluid"src="assets/img/tours-map.png" alt="">						
				</div>
	 	</div>
							<!-- <div class="container-fluid">
								<div class="row">
									<div class="col-12">
										<img *ngFor="let photo of photos" class="w-50 h-30 p-1" (click)="openSlide($event)" [src]="photo" alt="">
									</div>
								</div>
							</div> -->
 </div>