<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-sm-6 col-md-6 col-lg-4 p-0 pb-lg-4 back">
      <div class="contact container pb-0 pb-sm-0 pb-md-0 pb-lg-4">
         <h2>Contact Info</h2> 
        <p> <b>Prolongacion Avenida Torrechayoc - Ccatan</b> <br> 
        <i>1 km desde el templo de Torrechayoc</i></p>
        <p>
        <b>Urubamba - Cusco </b> <br>
        <b>Email</b>: <i>ccatanecolodge@gmail.com</i> <br>
        <b>Phone</b>: +51 610512 / +51 995985813 </p>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-8 p-2 p-sm-0 p-lg-0  mt-4 mt-sm-0 mt-lg-0">
      <div class="container back mb-4">
          <app-google-map></app-google-map>                
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="container">
    <div class="row" >
      <div class="col-12 " style="background-color:lightgrey;">
         <p class="text-center m-0"> ©  2017 CCATÁN ECO LODGE </p>
        </div>
    </div>
  </div>
</footer>
