<div class="container p-0">    
  <app-carousel></app-carousel>
  <div class="row tour-row pb-0">
      <div class="col-md-12 col-lg-8">
        <img class="mx-auto d-block img-fluid img-tours w-90 mt-4" style="height: auto;" src="assets/img/main/main-jumbotron.jpg" alt="">
         <div class="caption ml-lg-4">
            <p class="h2 ml-5 mt-4 ml-lg-2 ml-md-0 p-3 p-lg-3 w-75" style="background-color:white;opacity: 0.8">Explore the Sacred Valley</p>
         </div>
          <p class="text-center p-2" style="font-size: 20px;"><i>Ccatán is in the center of the Sacred Valley, from here you can visit
              thermal baths, snowy mountains, and Machu Picchu.</i></p>
          <p class="lead">
            <a class="btn btn-primary float-right tour-button" [routerLink]="['/tours']" role="button">See Tours</a>
          </p>
      </div>
      <div class="col-md-12 col-lg-4 review mt-4 pl-lg-0 pr-lg-">
            <img class="img-fluid w-90" style="height: auto" src="assets/img/main/main-card-2.jpg" alt="">
            <div class="caption2">
                 <div class="h2 p-3 p-lg-3 p-md-4 " style="background-color:white;opacity: 0.8"><p>Comfort & Security</p></div>
            </div>
             <a class="btn btn-primary float-right about-button" [routerLink]="['/about']" role="button">About Us</a>
             <p class="text-center pt-4" style="font-size: 20px;"><i>Ccatán is an ideal place to be in contact with nature in the comfort of a good hostal. Visit Ccatán and enjoy Urubamba's beautiful countryside.</i></p>
      </div> 
      </div>
      <div class="row p-4 review-row pt-5 pb-5">
        <div class="col-12 col-lg-3 pt-4"><p style="font-size: 24px"><b>Our friends say...</b></p></div>
        <div class="col-lg-7">
           <app-review-carousel></app-review-carousel>
        </div>
          <div class="text-center col-lg-2">
                <div class="container">
                   <a href="https://www.tripadvisor.com.pe/Hotel_Review-g294314-d2059608-Reviews-Eco_Lodge_Ccatan-Cusco_Cusco_Region.html"><img class="tripadvisor" src="assets/icons/icon-tripadvisor.png" alt=""></a>
                </div>
          </div>
</div>
