   
    <carousel class="carousel">
        <slide >
                <div class="carousel-content">
                        <P>Beautiful, natural location with gardens. The staff were so kind and wonderful. The room was very big, with nice hot shower and comfy bed. Also there are 2 cats and 2 dogs who live on the property, which was a plus for me!</P>
                </div>
        </slide>
        <slide>
                <div class="carousel-content">
                    <P>La amabilidad y hospitalidad de la familia propietaria del lugar , la Sra Yamile súper linda y servicial nos ayudó con varios datos necesarios para conocer más de urubamba pissac y nos consiguió el transporte muy seguro y confiable . El lugar es muy lindo si bien el acceso un poco rústico es lo que se espera en un lugar en medio de la naturaleza , volvería otra vez , porque se nos hizo muy corto el viaje , Cusco tiene lugares fascinantes y hacen falta más días para apreciarlo en su real dimensión.</P>    
                    </div>
        </slide>
        <slide >
                <div class="carousel-content">
                        <P>Nice people and nice property to stay. Gave us a homely feeling. 
                                        Also, the beauty of sacred valley is amazing. Proximity to several places like Moray, Maras and Chinchero makes it a worthy stay at Ccatan.</P>
                </div>
        </slide>
        <slide>
                <div class="carousel-content">
                        <P>El lugar es hermoso inmerso en la naturaleza, silencio en la noche canto de pájaros en la mañana. Espacios camas muy confortable y limpio. Gracias.</P>
                    </div>
        </slide>
      </carousel>
