<div class="row">  
  <div class="col d-none d-sm-block d-md-block d-lg-block">   
  <carousel>
      <slide>
        <img src="assets/img/carousel/main-carousel-1.jpg " class="img-fluid w-100" style="height: auto" alt="First slide">
        <div class="carousel-caption fixed-top p-lg-0">
          <p class="h1 animated fadeInDownBig">Welcome to Ccatán Eco Lodge</p>
        </div>
      </slide>
      <slide>
      <img src="assets/img/carousel/main-carousel-2.jpg" class="img-fluid w-100" style="height: auto" alt="Second slide">
        <div class="carousel-caption align-top">
         <h2><p class="animated fadeInLeft">
           Enjoy ancestral Andean foods.
         </p></h2>
          <h3><p class="animated-1 fadeInLeft">We use local ingredients & traditional recipes</p></h3>
        </div>
      </slide>
      <slide>
        <img src="assets/img/carousel/main-carousel-5.jpg" class="img-fluid w-100" style="height: auto" alt="First slide">
        <div class="carousel-caption  mt-sm-5" >
         <h2><p class="animated fadeInLeft d-none d-sm-none d-md-block d-lg-block">Relajate en nuestros comodos ambientes.</p></h2>
          <h4><p class="animated-1 zoomIn">Viaja solo,en familia o con amigos, tenemos lo que buscas.</p></h4>
           <a class="btn btn-primary float-right rooms-button animated-2 fadeInDown button" [routerLink]="['/rooms']" role="button">See Rooms</a>
        </div>
      </slide>
      <slide>
        <img src="assets/img/carousel/main-carousel-4.jpg" class="img-fluid w-100" style="height: auto" alt="Second slide">
        <div class="carousel-caption">
          <h3><p class="w-100 float-right float-lg-right animated fadeInDown">Conectate con la naturaleza y fascinate de nuestro lugar</p></h3>
        </div>
      </slide>
    </carousel>
  </div>
</div>